
@font-face{
	font-family: 'myFirstFont';
    src: url(black_jack-webfont.woff);
}
body{
	font-family: 'myFirstFont' Helvetica;
}
h1{
	text-align: center;
}
div{
	display:block;
}
img{
	max-width: 100%; height: auto;

}
a{
	font-size: 20px
}
.main {
	background-color: #d9f8ff;
	width:800px;
	padding:1px;
	margin: auto;
	border-radius: 5px;
}
.header {
	background: #7acbde url("oie_1kwRfv5PukUn.jpg") no-repeat right top;
	background-size: 100%;
	padding: 10px 10px;
	margin: 30px;
	border-radius: 5px;
	color: white;
}
.nav ul{
	background-color: #7acbde;
	padding: 10px 10px;
	margin: 30px;
	text-align:center;
	border-radius: 5px;

}
.content{
	background-color: #7acbde;
	padding: 10px 10px;
	margin: 30px;
	border-radius: 5px;

}

.button {
  font-size: 16px;
  text-decoration: none;
  background-color: #d9f8ff;
  color: black;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}

.nav li{
	display:inline;
	padding: 0px 30px 0px 30px;
	list-style-type: none;
}

.grid{
	width:612px;
	margin: 1.5em auto;
}
.grid div{
	float:left;
	background-color: #10aded;
	width:200px;
	height:200px;
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

.grid div img{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	max-height:200px;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear:both;
}